
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    max-width: 920px;
}


body {
    display: table-cell;
    background-color: #FCEE0C;
    font-size: 25px;
    margin: 0 10%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ol {
    padding-bottom: 10%;
}

.info {
    font-weight: normal;
    text-align: center;
}

#last_p {
    padding-bottom: 10%;
}

.top-pics {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 7%;
}

.pic {
    height: 200px;
    flex: auto;
}

.chef-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chef {
    width: 400px;
}

#image {
    display: inline;
    width: 60px;
    height:auto;
}

#header {
    display: inline;
}

div {
    text-align: center;
    padding-top: 5%;
}

.food_pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.food_img {
    width: 400px;
    height: 400px;
}

code {
    font-size: 23px;
    color: grey;
}

li {
    list-style: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}