
body {
    background-color: #FCEE0C;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h3 {
    padding-top: 5%;
}

ol {
    padding-bottom: 10%;
}

.info {
    font-weight: normal;
    text-align: center;
}

#last_p {
    padding-bottom: 10%;
}

.top-pics {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
    height: 200px;
    padding-bottom: 5%;
}

.pic {
    width: 200px;
    height: 200px;
    flex: 1;
}

.chef-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chef {
    width: 400px;
}

#image {
    display: inline;
    width: 60px;
    height:auto;
}

#header {
    display: inline;
}

div {
    text-align: center;
    padding-top: 5%;
}

.food_pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.food_img {
    width: 400px;
    height: 400px;
}

code {
    font-size: 23px;
    color: grey;
}