
body {
    background-color: #FCEE0C;
    font-size: 28px;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    margin: auto;
    display: block;
}

h1 {
    text-align: center;
    padding-top: 5%;
}

h3 {
    padding-bottom: 0px;
}

ul {
    padding-top: 0px;
}

.info {
    font-weight: normal;
    text-align: center;
}

.home {
    color: red;
}